@import "tailwindcss";

@keyframes spin-slow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@keyframes spin-slower {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}

@keyframes swirl {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.bg-conic-gradient {
  animation: swirl 120s linear infinite;
}

.animate-spin-slow {
  animation: spin-slow 60s linear infinite;
}
.animate-spin-slower {
  animation: spin-slower 90s linear infinite;
}


